<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="content">
    <h1 style="text-align: center;"><b>About App</b></h1>
    <p>This App is in beta version.</p>
      <h3><u>Certified Users</u></h3>
      <p>App allows certified <ion-icon style="margin-left:5px;border-radius:25px;background-color:white;color:rgb(16, 146, 201);margin-bottom: -3px;" name="checkmark-circle"></ion-icon> users to add Events(Assignments/News/Notes) and manage events.<br>
      Normal user can view Events/Notes and get notification about the new events added.
      </p>
      <h3><u>Events</u></h3>
      <p>Events like Assignments/Notes/News varies with the class so make sure you're logged into your respective classes</p>
      <h3><u>Notification Reminder</u></h3>
      <p>
        App will send 2 notification before the submission date of assignment if the assignment is not done by the user.
      </p>
      <h1>About Creator</h1>
      <p>My name is <u><b>Sritabh Priyadarshi</b><i>(SobyDamn)</i></u>. I created this app as I had problem in remembering the submission dates of assignments or any news.<br>
      I even had problem in managing the soft copy of notes provided by teachers hopefully this app will help me and you too!<br>
      <h3>Contact Me</h3>
      <p>Email: sobydanny@gmail.com
        <br>
        <a style="font-size:30px;color:white;" href="https://github.com/SobyDamn"><ion-icon name="logo-github"></ion-icon></a>
      </p>
      
    
  </div>
</ion-content>
