<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="loading" style="display:none;"><ion-spinner name="bubbles"></ion-spinner></div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"
  pullFactor="0.5"
  pullMin="100" pullMax="150">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="selector">
    <ion-select (ionChange)="changeSubject()" class="data_type" [(ngModel)]="subject" placeholder="Subject">
      <ion-select-option value="BEE">BEE</ion-select-option>
      <ion-select-option value="Chemistry">Chemistry</ion-select-option>
      <ion-select-option value="BEC">BEC</ion-select-option>
      <ion-select-option value="Eng Graphics">EGRA</ion-select-option>
      <ion-select-option value="CP">CP</ion-select-option>
      <ion-select-option value="ES">ES</ion-select-option>
    </ion-select>
  </div>
  <div class="selector2">
    <ion-select (ionChange)="changeClass()" class="data_type2" [(ngModel)]="class" placeholder="Class">
      <ion-select-option value="CS A">CS-A</ion-select-option>
      <ion-select-option value="CS B_EC B">CS-B/EC-B</ion-select-option>
    </ion-select>
  </div>
  <div *ngFor="let notes of notes.slice().reverse()">
      <div *ngIf="subject === 'ALL'">
        <div class="content">
          <ion-buttons *ngIf="showOptionbutton" id="more" style="padding-left: 90%;margin-bottom:-30px;">
            <ion-button id="more" (click)="moreOption($event,notes[0],notes[1]['fileURL'],notes[1]['subject'])">
              <ion-icon name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
          <h1 style="margin-top:-5px;text-align: center;"><b>{{notes[1]["subject"]}}</b></h1>
          <h4 style="margin-top:40px;"><b>Topic</b></h4><p>{{notes[1]["Title"]}}</p>
          <div class="details">
            <p>{{notes[1]["Added on"]}}</p>
            <p style="margin-top:-8px;">{{notes[1]["Submitted By"]}}</p>
            <p style="margin-top:-5px;">{{notes[1]["downloads"]}}<ion-icon style="margin-bottom:-2px;" name="download"></ion-icon></p>
          </div>
          <div *ngIf = "checkFile(notes[1]['fileURL'])" class="fileLink">
            <p style="font-size:11px;"><ion-icon style="margin-bottom:-2px;" name="document"></ion-icon>{{notes[1]['fileURL']}}</p>
            <ion-buttons (click)="getFileURL(notes[0],notes[1]['fileURL'])" style="text-transform: none;">
              <ion-button style="text-transform: none;" >
                <b><span style="font-size: 20px;padding-top: 20px;"><ion-icon style="font-size:18px;margin-bottom: -5px; border-style: solid;border-radius: 50px;color: rgb(146, 212, 149,0.6);" name="arrow-round-down"></ion-icon>Download</span></b>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </div>
      <div *ngIf="subject === notes[1]['subject']">
        <div class="content">
          <h1 style="margin-top:-5px; text-align: center;"><b>{{notes[1]["subject"]}}</b></h1>
          <h4 style="margin-top:40px;"><b>Topic</b></h4><p>{{notes[1]["Title"]}}</p>
          <div class="details">
            <p>{{notes[1]["Added on"]}}</p>
            <p style="margin-top:-8px;">{{notes[1]["Submitted By"]}}</p>
            <p style="margin-top:-5px;">{{notes[1]["downloads"]}}<ion-icon style="margin-bottom:-2px;" name="download"></ion-icon></p>
          </div>
          <div *ngIf = "checkFile(notes[1]['fileURL'])" class="fileLink">
            <p *ngIf = "checkFile(notes[1]['fileURL'])" style="font-size:11px;"><ion-icon style="margin-bottom:-2px;" name="document"></ion-icon>{{notes[1]['fileURL']}}</p>
            <ion-buttons (click)="getFileURL(notes[0],notes[1]['fileURL'])" style="text-transform: none;">
              <ion-button style="text-transform: none;" >
                <b><span style="font-size: 20px;padding-top: 20px;"><ion-icon style="font-size:18px;margin-bottom: -5px; border-style: solid;border-radius: 50px;color: rgb(146, 212, 149,0.6);" name="arrow-round-down"></ion-icon>Download</span></b>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </div>
  </div>
  <!---ion-infinite-scroll threshold="100px" (ionInfinite)="loadElements($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll--->
</ion-content>
