  <h2 style="text-align: center;">Reset Password!</h2>
  <div style="margin-top: 30px;">
    <label>Email:</label>
    <ion-input [(ngModel)]="email"></ion-input>
  </div>
  <div id="updating" style="display:none;text-align: center;"><ion-spinner name="dots"></ion-spinner></div>
  <div id="button">
    <ion-buttons>
      <ion-button id="save" (click)="reset()">
        Reset
      </ion-button>
      <ion-button id="cancel" (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
  </div>
