ion-button {
    width:100%;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: bold;
}
#edit {
    margin-bottom: 15px;
    //border-style: solid;
}
//#delete {
    //color : rgb(107, 98, 97);
//}
.popBTN {
    margin: 10px;
}